<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

    {% if COIL_TOKEN %}
    <meta name="monetization" content="{{ COIL_TOKEN }}">
    {% endif %}

    {% if FAVICON %}
    <link href="{{ SITEURL }}/{{ FAVICON }}" rel="icon"> {% endif %}

    <meta property="og:site_name" content="{{ SITENAME }}"> {% if article %}
    <meta property="og:type" content="article">

    <meta property="og:title" content="{{ article.title|striptags }}">
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
    <meta property="article:author" content="{{ article.author }}"> {% if article.description %}
    <meta name="description" content="{{ article.description|striptags|escape }}">
    <meta property="og:description" content="{{ article.description|striptags|escape }}"> {% else %}
    <meta name="description" content="{{ article.summary|striptags|escape }}">
    <meta property="og:description" content="{{ article.summary|striptags|escape }}"> {% endif %}
    <meta property="article:published_time" content="{{ article.date.strftime(" %Y-%m-%d ") }}"> {% if article.category %}
    <meta property="article:section" content="{{ article.category }}"> {% endif %} {% for tag in article.tags %}
    <meta property="article:tag" content="{{ tag }}"> {% endfor %} {% if article.image %}
    <meta property="og:image" content="{{ SITEURL }}/{{ article.image }}"> {% elif DEFAULT_IMAGE %}
    <meta property="og:image" content="{{ SITEURL }}/{{ DEFAULT_IMAGE }}"> {% endif %} {% elif page %}
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}"> {% else %}
    <meta property="og:type" content="website" />
    <meta name="description" content="Blog about many things including development and databases" />
    <meta property="og:title" content="{{ SITENAME }}">
    <meta property="og:url" content="{{ SITEURL }}"> {% if SITEDESCRIPTION %}
    <meta property="og:description" content="{{ SITEDESCRIPTION }}"> {% else %}
    <meta property="og:description" content="{{ SITENAME }}"> {% endif %} {% if DEFAULT_IMAGE %}
    <meta property="og:image" content="{{ SITEURL }}/{{ DEFAULT_IMAGE }}"> {% endif %} {% endif %} {% if FEED_ALL_ATOM %}
    <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed"> {% endif %} {% if FEED_ALL_RSS %}
    <link href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed"> {% endif %} {% if MANIFEST %}
    <link rel="manifest" href="/manifest.json"> {% endif %}
    <link rel="stylesheet" href="/theme/css/w3.css">
    <link href="/theme/css/pygments/{{ PYGMENTS_STYLE|default('native') }}.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    {% if DISQUS_SITENAME %}<link rel="preload" as="script" href="//{{ DISQUS_SITENAME }}.disqus.com">{% endif %}
    {% if ADDTHIS_PROFILE %}<link rel="preload" as="script" href="//s7.addthis.com">{% endif %}
    {% if GOOGLE_ANALYTICS %}<link rel="preload" as="script" href="https://ssl.google-analytics.com">{% endif %}
    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Raleway", sans-serif
        }

        a {
            text-decoration: none;
        }

        pre {
            display: block;
            padding: 9.5px;
            margin: 0 0 10px;
            font-size: 13px;
            line-height: 1.428571429;
            word-break: break-all;
            word-wrap: break-word;
            color: #333;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .banner_img {
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            /*background-attachment: fixed;*/
            height: 100px;
        }
        
        article img {
            max-width: -webkit-fill-available;
        }
        
		.highlight {
			overflow-x: auto;
		}
		
		p > a {
			color: blue;
		}
		
		.w3-container p {
			text-indent: 10px;
			text-align: justify;
		}
		
        @media (min-width: 993px) {
            #mySidebar {
                position: initial !important;
                background: #f1f1f1 !important;
            }
        }
    </style>
</head>

<body class="w3-light-gray">
    <div class="w3-top">
        <nav class="w3-bar w3-dark-gray w3-card-4">
            <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();" type="button">
                <i class="fa fa-bars"></i> &nbsp;Menu</button>
                <a href="/" class="w3-bar-item w3-button">Home</a>
            {% for p in PAGES %}
            <a class="w3-bar-item w3-button {% if p == page %}w3-light-gray{% endif %}" href="/{{ p.url }}">
                {{ p.menulabel|default(p.title) }}
            </a>
            {% endfor %}
            {% if lang_siteurls %}
            {% for lang, url in lang_siteurls.items() %}
            <a class="w3-bar-item w3-button{% if lang == DEFAULT_LANG %} w3-light-gray{% endif %}"" href="{{ url }}/">{{ lang }}</a>
            {% endfor %}
            {% endif %}
        </nav>
    </div>

    <div class="w3-content w3-margin-top" style="max-width:1400px;">
        <header class="w3-container w3-center" style="padding:22px 0 0 0;">
            <div style="height: 130px;width:100%; background-image: url('/images/header.webp');background-size: cover;"></div>
        </header>
        <div class="w3-row">

            <div class="w3-col l9 s12">
                {% block content %}{% endblock %}
            </div>

            <div class="w3-sidebar w3-col l3 w3-collapse w3-animate-right" id="mySidebar" style="right:0;">
                {% include 'includes/side.html' %}
            </div>

        </div>
    </div>
    <footer class="w3-container w3-dark-gray w3-padding-32 w3-margin-top">
        <div class="w3-bar">
        {% for name, link in SOCIAL %}
            {% set name_sanitized = name|lower|replace('+','-plus')|replace(' ','-') %}
            {% if name_sanitized in ['flickr', 'spotify', 'stack-overflow'] %}
                {% set iconattributes = '"fa fa-' ~ name_sanitized ~ ' fa-lg"' %}
            {% else %}
                {% set iconattributes = '"fa fa-' ~ name_sanitized ~ '-square fa-lg"' %}
            {% endif %}
            <a class="w3-bar-item" href="{{ link }}" target="_blank" rel="noopener noreferrer"><i class={{ iconattributes }}></i> {{ name }}</a>
        {% endfor %}
        </div>
    </footer>
    {% if GOOGLE_ADS_CLIENT %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article" data-ad-format="fluid" data-ad-client="{{ GOOGLE_ADS_CLIENT }}"
        data-ad-slot="8699702701"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script> {% endif %}
    
    {% if GOOGLE_ANALYTICS %}
        <!-- Google Analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS }}']);
            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <!-- End Google Analytics Code -->
    {% endif %}

    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "{{ AUTHOR }}",
        "url": "{{ SITEURL }}"
        {% if SOCIAL %}
        , "sameAs": [
            {% for name, link in SOCIAL %}
                "{{ link }}"{{ "," if not loop.last }}
            {% endfor %}
        ]
        {% endif %}
    }
    </script>

    <script>

        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }

    </script>
	
	<script data-ad-client="ca-pub-3097623931513783" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</body>

</html>
