<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu dinâmico com as apps do django - Sipmann</title>

    <meta name="monetization" content="$coil.xrptipbot.com/uH6DA7YAQ7y0_IvXt4p0VQ">


    <meta property="og:site_name" content="Sipmann">     <meta property="og:type" content="article">


    <link rel="alternate" hreflang="x-default" href="https://www.sipmann.com/drafts/menu-dinamico-com-apps-do-django-pt.html">

    <meta property="og:title" content="Menu dinâmico com as apps do django">
    <meta property="og:url" content="https://www.sipmann.com/drafts/menu-dinamico-com-apps-do-django-pt.html">
    <meta property="article:author" content="Maurício Camargo Sipmann"> 
    <meta name="description" content="Digamos que sua empresa trabalha com Django desenvolvendo aplicações cujas apps são plugaveis e reutilizáveis. Por que não se aproveitar de um certo padrão de desenvolvimento para desenvolver menus que se modificam de acordo com as apps que estão no projeto? Como o objetivo aqui não é desenvolver uma app …">
    <meta property="og:description" content="Digamos que sua empresa trabalha com Django desenvolvendo aplicações cujas apps são plugaveis e reutilizáveis. Por que não se aproveitar de um certo padrão de desenvolvimento para desenvolver menus que se modificam de acordo com as apps que estão no projeto? Como o objetivo aqui não é desenvolver uma app …"> 
    <meta property="article:published_time" content=" 2018-01-21 "> 
    <meta property="article:section" content="Python">      <meta property="article:tag" content="python">     <meta property="article:tag" content="django">  
    <meta property="og:locale" content="pt">
    <meta property="og:image" content="https://www.sipmann.com/images/sipmann.com.png">       <link href="https://www.sipmann.com/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Sipmann ATOM Feed">       <link rel="stylesheet" href="/theme/css/w3.css">
    <link href="/theme/css/pygments/native.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="preload" as="script" href="https://ssl.google-analytics.com">
        <link rel="dns-prefetch" href="https://ssl.google-analytics.com">    
    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Raleway", sans-serif
        }

        a {
            text-decoration: none;
        }

        pre {
            display: block;
            padding: 9.5px;
            margin: 0 0 10px;
            font-size: 13px;
            line-height: 1.428571429;
            word-break: break-all;
            word-wrap: break-word;
            color: #333;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .banner_img {
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            /*background-attachment: fixed;*/
            height: 100px;
        }
        
        article img {
            max-width: -webkit-fill-available;
        }
        
		.highlight {
			overflow-x: auto;
		}
		
		p > a {
			color: blue;
		}
		
		.w3-container p {
			text-indent: 10px;
			text-align: justify;
		}
		
        @media (min-width: 993px) {
            #mySidebar {
                position: initial !important;
                background: #f1f1f1 !important;
            }
        }

        @media screen and (prefers-color-scheme: dark) {
            .w3-light-gray {
                background-color: #2f3237 !important;
                color: white !important;
            }

            #mySidebar {
                position: initial !important;
                background: #2f3237 !important;
            }

            hr {
                border-color: #1c1d1e;
            }
        }
    </style>
</head>

<body class="w3-light-gray">
    <div class="w3-top">
        <nav class="w3-bar w3-dark-gray w3-card-4">
            <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();" type="button">
                <i class="fa fa-bars"></i> &nbsp;Menu</button>
                <a href="/" class="w3-bar-item w3-button">Home</a>
            <a class="w3-bar-item w3-button w3-light-gray" href="https://www.sipmann.com/en/">en</a>
            <a class="w3-bar-item w3-button" href="https://www.sipmann.com/pt/">pt</a>
        </nav>
    </div>

    <header class="w3-container w3-center" style="padding:22px 0 0 0;">
        <div style="height: 130px;width:100%; background-image: url('/images/header.webp');background-size: cover;"></div>
    </header>
    <div class="w3-content w3-margin-top" style="max-width:1400px;">
        <div class="w3-row">

            <div class="w3-col l9 s12">
    <article class="w3-card-4 w3-margin w3-white">
        <div class="w3-container">
            <h1><b><a href="https://www.sipmann.com/drafts/menu-dinamico-com-apps-do-django-pt.html" title="Permalink to Menu dinâmico com as apps do django">Menu dinâmico com as apps do django</a></b></h1>
            <h5>
                <i class="fa fa-calendar"></i><time class="w3-opacity" datetime="2018-01-21T21:17:00-02:00"> Sun 21 January 2018</time>
            </h5>
        </div>
        
        <div class="w3-container">
            <p><p>Digamos que sua empresa trabalha com Django desenvolvendo aplicações cujas apps são plugaveis e reutilizáveis. Por que não se aproveitar de um certo padrão de desenvolvimento para desenvolver menus que se modificam de acordo com as apps que estão no projeto? Como o objetivo aqui não é desenvolver uma app em si, vamos utilizar um projeto com algumas de modelo. Se desejar estudar mais sobre desenvolvimento Django, a documentação é muito boa, mas também temos blogs e sites excelentes sobre o assunto.</p>
<p>Para conseguirmos atingir esse objetivo, vamos utilizar a api <a class="reference external" href="https://docs.djangoproject.com/en/2.0/ref/settings/#installed-apps">Django.apps</a> que está disponível a partir da versão 1.7.
Com esta api, vamos percorrer as apps e se possível, criar um link para uma URL base de cada uma delas. Para começo, baixe os fontes do <a class="reference external" href="https://github.com/sipmann/menusapp-django/releases/tag/v1">projeto aqui</a>, rode o pip install do projeto e no fim, sua estrutura de pastas deve ficar como abaixo.</p>
<div class="highlight"><pre><span></span>../menusapp/
├── comentarios
│   ├── templates
│   │   └── comentarios
│   │      └── listagem.html
│   ├── __init__.py
│   ├── admin.py
│   ├── apps.py
│   ├── models.py
│   ├── tests.py
│   ├── urls.py
│   └── views.py
├── core
│   ├── templates
│   │   └── core
│   │       └── base.html
│   │       └── listagem.html
│   ├── __init__.py
│   ├── admin.py
│   ├── apps.py
│   ├── models.py
│   ├── tests.py
│   ├── urls.py
│   └── views.py
├── menusapp
│   ├── __init__.py
│   ├── settings.py
│   ├── urls.py
│   └── wsgi.py
└── manage.py
</pre></div>
<p>Rode o projeto e veja como é o seu funcionamento. É na app core que temos a base do nosso HTML, então será nele que iremos trabalhar. Quando se trata de algo que será renderizado no template base, eu gosto muito de utilizar 'template tags' para facilitar.
Neste <a class="reference external" href="http://www.sipmann.com/editando-o-admin-do-django.html">link</a> tem mais um exemplo de utilização de 'template tag' caso esteja interessado.</p>
<p>Vamos então criar uma pasta chamada template_tag e dentro dela a nossa tag. Vamos chamá-la de menus_tag.py. Abaixo vamos ver um pouco da nossa tag.
O código é bem simples e auto explicativo, importamos as bibliotecas necessárias e realizamos o &#64;register da tag com o nome do template que será renderizado.
E por ultimo, retornamos uma tupla de dados para o template.</p>
<div class="livros">
        <div class="recomendacoes">Recomendações</div>
        <a rel="noopener" href="https://www.amazon.com.br/gp/product/8575225081/ref=as_li_ss_il?ie=UTF8&linkCode=li2&tag=sipmann-20&linkId=c17fa3ac84e734741a3761e874d7d286" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=8575225081&Format=_SL160_&ID=AsinImage&MarketPlace=BR&ServiceVersion=20070822&WS=1&tag=sipmann-20" ></a><img src="https://ir-br.amazon-adsystem.com/e/ir?t=sipmann-20&l=li2&o=33&a=8575225081" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        <a rel="noopener" href="https://www.amazon.com.br/gp/product/B074ZTLKHB/ref=as_li_ss_il?ie=UTF8&linkCode=li2&tag=sipmann-20&linkId=e2f37c07da2dc4111ae47854b205d01a" target="_blank"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B074ZTLKHB&Format=_SL160_&ID=AsinImage&MarketPlace=BR&ServiceVersion=20070822&WS=1&tag=sipmann-20" ></a><img src="https://ir-br.amazon-adsystem.com/e/ir?t=sipmann-20&l=li2&o=33&a=B074ZTLKHB" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</div><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">django</span> <span class="kn">import</span> <span class="n">template</span>
<span class="kn">from</span> <span class="nn">django.apps</span> <span class="kn">import</span> <span class="n">apps</span>

<span class="c1">#Carrega o registro de template tags</span>
<span class="n">register</span> <span class="o">=</span> <span class="n">template</span><span class="o">.</span><span class="n">Library</span><span class="p">()</span>

<span class="c1">#Registra o metodo a seguir como uma inclusion_tag indicando o template a ser renderizado</span>
<span class="nd">@register</span><span class="o">.</span><span class="n">inclusion_tag</span><span class="p">(</span><span class="s1">&#39;menus_por_app.html&#39;</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">menus_por_app</span><span class="p">():</span>
    <span class="n">lst</span> <span class="o">=</span> <span class="n">apps</span><span class="o">.</span><span class="n">get_app_configs</span><span class="p">()</span>
    <span class="k">return</span> <span class="p">{</span> <span class="s1">&#39;lst_apps&#39;</span> <span class="p">:</span> <span class="n">lst</span> <span class="p">}</span>
</pre></div>
<p>O template está abaixo e é simplesmente um for percorrendo as apps e gerando uma lista com os seus menus. As outras propriedades você pode ver direto na <a class="reference external" href="https://docs.djangoproject.com/en/2.0/ref/applications/#django.apps.AppConfig">documentação</a>.
Algumas ressalvas para o que foi feito por questões de praticidade para uso posterior, utilizei um with para concatenar e gerar a url e criei um apelido para a url para validar a existência da mesma. Fora isto, nada de novo.</p>
<div class="highlight"><pre><span></span>{% if not lst_apps %}
                    <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>Nenhuma app<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
            {% else %}
                    <span class="p">&lt;</span><span class="nt">ul</span><span class="p">&gt;</span>
                            {% for app in lst_apps %}
                                    {% with app.name|add:&quot;:listagem&quot; as link %}
                                            {% url link as the_url %}
                                                    {% if the_url %}
                                                    <span class="p">&lt;</span><span class="nt">li</span><span class="p">&gt;</span>
                                                            <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;{% url link %}&quot;</span><span class="p">&gt;</span>{{ app.verbose_name|truncatechars:30 }}<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
                                                    <span class="p">&lt;/</span><span class="nt">li</span><span class="p">&gt;</span>
                                                    {% endif %}
                                    {% endwith %}
                            {% endfor %}
                    <span class="p">&lt;/</span><span class="nt">ul</span><span class="p">&gt;</span>
            {% endif %}
</pre></div>
<img alt="Resultado final" src="/images/menu_apps.png" />
<p>No final, o resultado obtido deve ser semelhante ao acima. Repare que está listando as duas aplicações. E acima de tudo, repare que só serão exibidos os links cuja app tenha um namespace de mesmo nome e uma url de nome <cite>listagem</cite>.
A estrutura final pode ser vista abaixo. Atente-se aos nomes tanto das pastas quanto dos arquivos, pois qualquer diferença pode causar o não funcionamento.</p>
<div class="highlight"><pre><span></span>../menusapp/
├── comentarios
│   ├── templates
│   │   └── comentarios
│   │      └── listagem.html
│   ├── __init__.py
│   ├── admin.py
│   ├── apps.py
│   ├── models.py
│   ├── tests.py
│   ├── urls.py
│   └── views.py
├── core
│   ├── templates
│   │   └── core
│   │   │   └── base.html
│   │   │   └── listagem.html
│   │   └── menus_por_app.html
│   ├── templatetags
│   │   ├── __init__.py
│   │   └── menus_tag.py
│   ├── __init__.py
│   ├── admin.py
│   ├── apps.py
│   ├── models.py
│   ├── tests.py
│   ├── urls.py
│   └── views.py
├── menusapp
│   ├── __init__.py
│   ├── settings.py
│   ├── urls.py
│   └── wsgi.py
└── manage.py
</pre></div>
<p>Espero que tenham gostado, críticas e sugestões são bem-vindas. <a class="reference external" href="https://github.com/sipmann/menusapp-django/releases/tag/v2">Fontes do Projeto</a></p>
</p>
        </div>


        <hr>
        <section class="w3-padding" id="translations">
            <h4>Translations:</h4>
            <ul>
            </ul>
        </section>

    </article>
    <hr>

    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "name": "Post: Menu dinâmico com as apps do django",
        "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
            "@id": "https://www.sipmann.com",
            "name": "Article"
        }
        },{
        "@type": "ListItem",
        "position": 2,
        "item": {
            "@id": "https://www.sipmann.com/category/python.html",
            "name": "Python"
        }
        },{
        "@type": "ListItem",
        "position": 3,
        "item": {
            "@id": "https://www.sipmann.com/drafts/menu-dinamico-com-apps-do-django-pt.html",
            "name": "Menu dinâmico com as apps do django"
        }
        }]
    }
    </script>
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Article",
        "@id" : "https://www.sipmann.com/drafts/menu-dinamico-com-apps-do-django-pt.html",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://google.com/article"
        },
        "headline": "Menu dinâmico com as apps do django",
        "image": ["images/sipmann.com.png"],
        "datePublished": "2018-01-21 21:17:00-02:00",
        "dateModified": "2018-01-21 21:17:00-02:00",
        "author": {
            "@type": "Person",
            "name": "Maurício Camargo Sipmann"
            ,
            "image": {
              "@type": "ImageObject",
              "id": "https://www.sipmann.com/#personlogo",
              "url": "https://s.gravatar.com/avatar/7f717d69fb6d3dbc5490d47369aca3e0?s=180",
              "height": 180,
              "width": 180,
              "caption": "Maurício Sipmann"
            }
        },
        "publisher": {
            "@type": "Organization",
            "name": "Maurício Camargo Sipmann"
            ,
            "logo": {
              "@type": "ImageObject",
              "url": "https://s.gravatar.com/avatar/7f717d69fb6d3dbc5490d47369aca3e0?s=180",
              "height": 180,
              "width": 180
            }
        },

        "articleSection": "
            python
                ,
            django
        "
    }
    </script>
            </div>

            <div class="w3-sidebar w3-col l3 w3-collapse w3-animate-right" id="mySidebar" style="right:0;">
<div class="w3-card w3-margin w3-margin-top" role="navigation" aria-labelledby="nav-categories">
    <div class="w3-container w3-padding w3-blue-gray">
        <h4 id="nav-categories">Categories</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
        <li style="padding: 0 !important;">
            <a class="w3-padding" href="https://www.sipmann.com/category/azure.html" style="display: block">
                Azure
            </a>
        </li>
        <li style="padding: 0 !important;">
            <a class="w3-padding" href="https://www.sipmann.com/category/flutter.html" style="display: block">
                Flutter
            </a>
        </li>
        <li style="padding: 0 !important;">
            <a class="w3-padding" href="https://www.sipmann.com/category/front-end.html" style="display: block">
                Front-end
            </a>
        </li>
        <li style="padding: 0 !important;">
            <a class="w3-padding" href="https://www.sipmann.com/category/java.html" style="display: block">
                Java
            </a>
        </li>
        <li style="padding: 0 !important;">
            <a class="w3-padding" href="https://www.sipmann.com/category/linux.html" style="display: block">
                Linux
            </a>
        </li>
        <li style="padding: 0 !important;">
            <a class="w3-padding" href="https://www.sipmann.com/category/mysql.html" style="display: block">
                MySQL
            </a>
        </li>
        <li style="padding: 0 !important;">
            <a class="w3-padding" href="https://www.sipmann.com/category/net.html" style="display: block">
                .NET
            </a>
        </li>
        <li style="padding: 0 !important;">
            <a class="w3-padding" href="https://www.sipmann.com/category/powershell.html" style="display: block">
                PowerShell
            </a>
        </li>
        <li style="padding: 0 !important;">
            <a class="w3-padding" href="https://www.sipmann.com/category/random.html" style="display: block">
                Random
            </a>
        </li>
        <li style="padding: 0 !important;">
            <a class="w3-padding" href="https://www.sipmann.com/category/sql-server.html" style="display: block">
                SQL Server
            </a>
        </li>
        <li style="padding: 0 !important;">
            <a class="w3-padding" href="https://www.sipmann.com/category/tools.html" style="display: block">
                Tools
            </a>
        </li>
    </ul>
</div>

<div class="w3-card w3-margin w3-margin-top" role="navigation" aria-labelledby="nav-recent-posts">
    <div class="w3-container w3-padding w3-blue-gray">
        <h4 id="nav-recent-posts">Recent Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
        <li>
            <a class="w3-padding" href="/monitoring-mysql-restarts-with-powershell.html">
                Monitoring MySQL restarts with PowerShell
            </a>
        </li>
        <li>
            <a class="w3-padding" href="/mysql-dual-password-functionality.html">
                Changing a MySQL user password across multiple application instances without downtime
            </a>
        </li>
        <li>
            <a class="w3-padding" href="/apache-nifi-json-to-sql-replacing-underscore.html">
                Apache Nifi JSON to SQL Replacing underscore
            </a>
        </li>
        <li>
            <a class="w3-padding" href="/blocking-user-on-sql-server-based-on-schedule.html">
                Blocking a user on SQL Server based on a schedule
            </a>
        </li>
        <li>
            <a class="w3-padding" href="/select_specific_fields_with_efcore.html">
                How to set columns on select using Entity Framework
            </a>
        </li>
    </ul>
</div>

<div class="w3-margin w3-margin-top" role="navigation" aria-labelledby="buy-me-a-coffee">
    <div class="w3-container w3-padding">
        <a href="https://www.buymeacoffee.com/sipmann" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-blue.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;"></a>
    </div>
</div>            </div>

        </div>
    </div>
    <footer class="w3-container w3-dark-gray w3-padding-32 w3-margin-top">
        <div class="w3-bar">
            <a class="w3-bar-item" href="https://twitter.com/MSipmann" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter-square fa-lg"></i> Twitter</a>
            <a class="w3-bar-item" href="https://github.com/sipmann" target="_blank" rel="noopener noreferrer"><i class="fa fa-github-square fa-lg"></i> Github</a>
            <a class="w3-bar-item" href="http://br.linkedin.com/in/sipmann" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin-square fa-lg"></i> Linkedin</a>
        </div>
    </footer>
    <!-- <script data-ad-client="ca-pub-3097623931513783" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
    
        <!-- Google Analytics -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-8072083-2']);
            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <!-- End Google Analytics Code -->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-BW422MP4C1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-BW422MP4C1');
	</script>

    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Sipmann",
        "url": "https://www.sipmann.com"
        , "sameAs": [
                "https://twitter.com/MSipmann",
                "https://github.com/sipmann",
                "http://br.linkedin.com/in/sipmann"
        ]
    }
    </script>

    <script>

        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }

    </script>

</body>

</html>