{% if article.related_posts %}
<hr>
<section class="w3-padding" id="related-posts">
    <h4>{{ gettext('Related Posts') }}:</h4>
    <ul>
    {% for related_post in article.related_posts %}
        <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
    {% endfor %}
    </ul>

    <script type="application/ld+json">
        {
          "@context":"http://schema.org",
          "@type":"ItemList",
          "name": "{{ gettext('Related Posts') }}",
          "itemListElement":[
            {% for related_post in article.related_posts %}
            {
              "@type":"Article",
              "position":{{loop.index}},
              "name": "{{related_post.title}}",
              "url":"{{ SITEURL }}/{{ related_post.url }}",
              "headline": "{{ related_post.title }}",
              {% if related_post.image %}
              "image": ["{{ related_post.image }}"],
              {% elif DEFAULT_IMAGE %}
              "image": ["{{ DEFAULT_IMAGE }}"],
              {% else %}
              "image": [],
              {% endif %}
              "datePublished": "{{ related_post.date }}",
              "dateModified": "{{ related_post.date }}",
              "author": {
                  "@type": "Person",
                  "name": "{{ related_post.author.name }}"
              },
              "publisher": {
                  "@type": "Organization",
                  "name": "{{ related_post.author.name }}"
                  {% if AUTHOR_IMAGE %}
                  ,
                  "logo": {
                    "@type": "ImageObject",
                    "url": "{{ AUTHOR_IMAGE }}",
                    "height": 180,
                    "width": 180
                  }
                  {% endif %}
              }
              
            }
            {% if not loop.last %}
            ,
            {% endif %}
            {% endfor %}
          ]
        }
        </script>

</section>
{% endif %}
