<div class="w3-card w3-margin w3-margin-top">
    <div class="w3-container w3-padding w3-blue-gray">
        <h4>
            <a href="{{ SITEURL }}/{{ CATEGORIES_URL }}">{{ gettext('Categories') }}</a>
        </h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
        {% for cat, null in categories %}
        <li>
            <a class="w3-padding" href="{{ SITEURL }}/{{ cat.url }}" style="display: block">
                {{ cat }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

{% if RECENT_POST_COUNT is not defined %}
    {% set RECENT_POST_COUNT = 5 %}
{% endif %}
<div class="w3-card w3-margin w3-margin-top">
    <div class="w3-container w3-padding w3-blue-gray">
        <h4>{{gettext('Recent Posts')}}</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
        {% for article in articles[:RECENT_POST_COUNT] %}
        <li>
            <a class="w3-padding" href="/{{ article.url }}">
                {{ article.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>