<div class="w3-card w3-margin w3-margin-top" role="navigation" aria-labelledby="nav-categories">
    <div class="w3-container w3-padding w3-blue-gray">
        <h4 id="nav-categories">{{ gettext('Categories') }}</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
        {% for cat, null in categories %}
        <li style="padding: 0 !important;">
            <a class="w3-padding" href="{{ SITEURL }}/{{ cat.url }}" style="display: block">
                {{ cat }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

{% if RECENT_POST_COUNT is not defined %}
    {% set RECENT_POST_COUNT = 5 %}
{% endif %}
<div class="w3-card w3-margin w3-margin-top" role="navigation" aria-labelledby="nav-recent-posts">
    <div class="w3-container w3-padding w3-blue-gray">
        <h4 id="nav-recent-posts">{{gettext('Recent Posts')}}</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
        {% for article in articles[:RECENT_POST_COUNT] %}
        <li>
            <a class="w3-padding" href="/{{ article.url }}">
                {{ article.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="w3-margin w3-margin-top" role="navigation" aria-labelledby="buy-me-a-coffee">
    <div class="w3-container w3-padding">
        <a href="https://www.buymeacoffee.com/sipmann" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-blue.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;"></a>
    </div>
</div>
