<div class="w3-card w3-margin w3-margin-top">
    <div class="w3-container w3-padding w3-blue-gray">
        <h4>
            <a href="{{ SITEURL }}/{{ CATEGORIES_URL }}">{{ gettext('Categories') }}</a>
        </h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
        {% for cat, null in categories %}
        <li>
            <a class="w3-padding" href="{{ SITEURL }}/{{ cat.url }}" style="display: block">
                {{ cat }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

{% if RECENT_POST_COUNT is not defined %}
    {% set RECENT_POST_COUNT = 5 %}
{% endif %}
<div class="w3-card w3-margin w3-margin-top">
    <div class="w3-container w3-padding w3-blue-gray">
        <h4>{{gettext('Recent Posts')}}</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
        {% for article in articles[:RECENT_POST_COUNT] %}
        <li>
            <a class="w3-padding" href="/{{ article.url }}">
                {{ article.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="w3-card w3-margin w3-margin-top">
    <iframe class="w3-col l6 s12" style="margin: 10px;width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=mc-direct-20&language=pt_BR&marketplace=amazon&region=BR&placement=B07Y9XWK4M&asins=B07Y9XWK4M&linkId=94e006843498d868a336ec86837919d9&show_border=false&link_opens_in_new_window=true"></iframe>
    <iframe class="w3-col l6 s12" style="margin: 10px;width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=mc-direct-20&language=pt_BR&marketplace=amazon&region=BR&placement=B07YCPXLTW&asins=B07YCPXLTW&linkId=83693f091f77b36264f70c2179a7db21&show_border=false&link_opens_in_new_window=true"></iframe>
</div>